<button class="navbar-button" id="sandwich-button"
        onclick="document.getElementById('sandwich-menu').style.display = 'flex';">
  <i class="fa-solid fa-bars"></i>
</button>
<nav style="display: none" class="navbar" id="sandwich-menu">
  <button class="close-button" id="close-button"
          onclick="document.getElementById('sandwich-menu').style.display = 'none';">
    <i class="fa-solid fa-times"></i>
  </button>
  <div class="lang">
    <a href="#">FR</a>
    <a href="#">EN</a>
    <a href="#">ES</a>
    <a href="#">JA</a>
  </div>
  <hr>
  <div class="main-link">
    <a href="#">Nos Programmes</a>
    <a href="#">Odyssée 2025 - 2027</a>
    <a href="#">Odyssée 2017 - 2020</a>
    <a href="#">Odyssée 2015</a>
    <a href="#">L'équipe</a>
    <a href="#">La gouvernance</a>
    <a href="#">A la une</a>
    <a href="#">Les partenaires</a>
    <a href="#">Nos vidéos</a>
    <a href="#">Agissez à nos côtés</a>
  </div>
  <hr>
  <div class="social-link">
    <p>Suivez nous</p>
    <div class="social-links">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
  <hr>

  <p>Ensemble, préservons les océans</p>
</nav>
